@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --main-bg: url('https://i.pinimg.com/originals/bd/1c/94/bd1c941704d8821161d18a2b39915833.gif');
    --primary-color: #ff00ff;
    --secondary-color: #00ffff;
    --button-bg-start: linear-gradient(135deg, #00ffff, #ff00ff);
    --button-bg-end: linear-gradient(135deg, #ff00ff, #00ffff);
    --button-hover-bg: linear-gradient(135deg, #ff00ffff, #ff00ff);
    --box-shadow-color: rgba(255, 0, 255, 0.5);
    --container-bg: rgba(0, 0, 0, 0.5);
    --box-border-color: rgba(255, 0, 255, 0.3);
    --box-shadow-hover: rgba(255, 0, 255, 0.7);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

html, body {
    height: 100%;
    background: var(--main-bg) no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
    overflow: hidden; /* Remove a barra de rolagem */
}

header {
    position: relative;
    z-index: 1;
    padding: 20px;
    margin-bottom: 2px;
}

header h1 {
    font-size: 2rem;
    color: #fff;
    text-shadow: none;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

header p.small-text {
    font-size: 1rem;
    color: #fff;
    text-shadow: none;
    margin: 0;
}

.logo {
    width: 120px;
    height: 120px;
    margin-bottom: 2px;
    filter: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 2px;
}

.panel {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: none;
    animation: fadeIn 2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.button {
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease, transform 0.1s ease;
    text-transform: uppercase;
    background: var(--button-bg-start);
    box-shadow: 0 0 5px var(--box-shadow-color);
}

.button:hover {
    background: var(--button-hover-bg);
    box-shadow: 0 0 10px var(--box-shadow-color);
}

.button:active {
    transform: scale(0.95);
}

.countdown-button {
    background: linear-gradient(135deg, #6a0dad, #8a2be2);
}

.countdown-button:hover {
    background: linear-gradient(135deg, #8a2be2, #6a0dad);
}

.discord-button {
    background: linear-gradient(135deg, #0033cc, #66ccff);
}

.discord-button:hover {
    background: linear-gradient(135deg, #66ccff, #0033cc);
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.7);
}

footer {
    padding: 10px;
    margin-top: auto;
    color: var(--primary-color);
    text-shadow: none;
}

footer p {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.25em;
    width: 100%;
    max-width: 320px;
    height: 160px;
    transition: all 400ms;
    background: var(--container-bg);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--box-shadow-color);
    padding: 10px;
}

.container:hover .box {
    filter: grayscale(100%) opacity(24%);
}

.box {
    position: relative;
    background: var(--img) center center;
    background-size: cover;
    transition: all 400ms;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--box-border-color);
    border-radius: 5px;
}

.container .box:hover {
    filter: grayscale(0%) opacity(100%);
    box-shadow: 0 0 15px var(--box-shadow-hover);
}

.container:has(.box-1:hover) {
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
}

.container:has(.box-2:hover) {
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
}

.container:has(.box-3:hover) {
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
}

.container:has(.box-4:hover) {
    grid-template-columns: 1fr 1fr 1fr 3fr 1fr;
}

.container:has(.box-5:hover) {
    grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
}

.box:nth-child(odd) {
    transform: translateY(-5px);
}

.box:nth-child(even) {
    transform: translateY(5px);
}

.box::after {
    content: attr(data-text);
    position: absolute;
    bottom: 10px;
    background: rgba(0, 0, 0, 0.8);
    color: var(--primary-color);
    padding: 5px 8px 5px 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transform: translateY(20px);
    opacity: 0;
    transition: all 400ms;
    text-shadow: none;
}

.box:hover::after {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 400ms;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 10px;
    margin-top: 8px;
}

.content-title {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 8px;
    text-shadow: none;
}
